---
// import "@fontsource-variable/inter";
// import Compatibility from "~/components/inscription.astro";
import Features from "~/components/features.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/market-place.astro";
import Showcase from "~/components/obligation.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("src/content/showcase/_images/social.jpg", site);
const description = "Venez avec votre BONNE HUMEUR";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="https://res.cloudinary.com/dgakih33l/image/upload/v1692876902/BarbekJanvil/Ty/wonder_1692875237696_mfixjv.jpg"
      type="image"
    />
    <meta name="generator" content={generator} />

    <title>Barbec Janville</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Barbec" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="space-y-24 px-8 py-32">
      <Showcase />
      <Intro />
      <Features />
      <!-- <Compatibility /> -->
    </div>
    <section class="rounded-2xl">
      <div
        class="flex max-w-screen-md flex-col items-center justify-center px-4 py-8 align-middle lg:py-16"
      >
        <h2
          class="gradient-text mb-4 text-center font-extrabold tracking-tight text-7xl"
        >
          Juste histoire de...
        </h2>
        <p
          class="mb-8 text-center font-light text-gray-500 sm:text-xl lg:mb-16"
        >
          ... Savoir combien nous serons ....
        </p>
        <a href="https://dynamic-squirrel-6c91a8.netlify.app">
          <button
            type="submit"
            class="gradient-text mx-auto font-extrabold text-xl"
            >💀 Si Tu viens Inscrit Toi 💀
          </button></a
        >
      </div>
    </section>
  </body>
  <Footer />
</html>
